*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background-color: #000;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
header .logo{
    width: 40px;
}
ul li{
    display: inline-block;
    list-style: none;
    transition: 0.5s;
}
ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
ul li:hover{transform: translateY(-5px);
    box-shadow: 0px 0px 10px 5px white;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    color: #fff;
    width: 40%;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
    background-color: white;
    padding: 8px 15px;
    color: #000;
    border-radius: 20px;
    transition: 0.5s;
}
.content .text a:hover{box-shadow: 0px 0px 10px 5px white;}
.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);

}
.icons .yel:hover{box-shadow: 0px 20px 10px 10px yellow;}
.icons .blu:hover{box-shadow: 0px 20px 10px 10px rgb(89, 138, 206);}
.icons .gry:hover{box-shadow: 0px 20px 10px 10px gray;}
.icons .off:hover{box-shadow: 0px 20px 10px 10px white;}
.icons .red:hover{box-shadow: 0px 20px 10px 10px red;}